body{
    background-color: #fbf9f1;
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar{
    background-color: #fbf9f1;
    padding-left: 5px;
    padding-right: 5px;
}

.jumbotron{
    margin-top: 55px;
    background: no-repeat center center; 
    background-size: cover;
}

.jumbotron h1, .jumbotron p{
        color: rgba(255, 255, 255, 0.979);
        text-shadow: 2px 2px 5px black;
        font-family: 'Courgette', cursive;
}

#item-list header{
    padding-top:30px;
    border-bottom: dotted;
    border-width: 4px;
    margin-bottom: 20px;
}

#item-list h4{
    margin-bottom: 7px;
}

.item-list{
    padding: 10px 50px;
}

.title-category{
    margin-top: 25px;
    margin-bottom: 25px;
}

.title{
    color: #333;
    margin-top: 10px;
}

.card-product-grid{
    padding: 15px;
}

#motto{
    width: 80%;
    padding: 70px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    background-color: #dae0e20c;
}

#motto .container{
    padding-left: 150px;
    padding-right: 150px;
}

#motto img{
    padding-bottom: 15px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

#motto h4{
    padding-bottom: 5px;
}

.card-body{
    text-align: center;
}

#testimonials {
    margin-top: 100px;
    margin-bottom: 50px;
}

#testimonials img{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}

#testimonials .card{
    margin: 30px 15px;
    font-family: 'Kalam', cursive;
    font-size: large;
}

#testimonials form{
    margin-top: 30px;
    margin-bottom: 30px;
}

#testimonials h4{
    padding-top: 25px;
    margin-bottom: 25px;
}

#testimonials input{
    margin-bottom: 10px;
}

#contact-name, #contact-email{
    width: 355px;
}

#feedback{
    margin-left: 15px;
}

/* Footer */
.footer{
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #333;
    color: rgba(255, 255, 255, 0.863);
}

.footer-top{
    padding-top: 25px;
    padding-bottom: 5px;
    background: #333;
    text-align: left;
    color: #aaa;
    font-size: smaller;
}

.footer-top .col-md-4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-top h3{
    padding-top: 5px;
    padding-bottom: 15px;
    color: #fff;
    font-size: medium;
}

.footer-contact i{
    margin-right: 3px;
}

.sns-icons i{
    margin-right: 12px;
    color: #aaa;
}

.footer-bottom{
    background: #333;
    text-align: right;
    color: #fff;
    font-size: small;
}

.footer-bottom .container{
    padding-top: 7px;
    padding-bottom: 10px;
}

/* Only in productDetail */
.breadcrumb{
    margin-top: 55px;
    background-color: transparent;
    padding: 15px 5px 5px;
}

.breadcrumb-item a{
    color: #333;
}

.breadcrumb-item a:hover{
    color: green;
}

.tomato-info{
    margin-bottom: 50px;
    padding: 20px;
}

.tomato-info img{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: block;
    height: 361px;
    width: 362px;
}

.tomato-info .row{
    justify-content: center;
}
